*{
    font-family: 'PT Sans', sans-serif;
}

body {
    width: 1025px;
    margin: 0, auto;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #7DDFE8;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

#logo {
    background-color: #F5005B;
    padding-left: 0;
}

#nav1 {
    background-color: #00A5BF;
}

#nav2 {
    background-color: #00B7D3;
}

#nav3 {
    background-color: #00D5E7;
}

.nav-item {
    height: 115px;
    width: 100px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nav-item a:hover {
    background: #FFFFFF;
}

.nav-item a:active {
    background: #968772;
}


.top-message {
	/*position: relative;*/
	/*top: 80%;*/
	/*margin: 0 auto;*/
	width: 100%;
	font-size: 45px;
	text-align: left;
}

.blue-boxes {
    display: flex;
    height: 55px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin: 15px;
}

#box-1, #box-2, #box-3 {
    background-color: #0B1942;
    width: 295px;
    font-size: 30px;
    color: white;
    margin: 5px;
    padding: 2px;
}

.info-txt {
	display:flex;
    height: 195px;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    list-style-type: none;
    /*background-color: red;*/
    /*position: relative;*/
}

#single-box {
    width: 295px;
    font-size: 19px;
    margin: 5px;
    padding: 2px;
}

main {
    background-color: #0B1942;
    height: 920px;
}

#up-next {
    color: white;
    font-size: 33px;
    padding:20px;
    margin-bottom: 1%;
    margin-left: 30px;
}

#wrap {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 0 auto;
}

.feature-box {
    display:inline-flex;
    background-color: #E2E2E2;
    width: 45%;
    height: 340px;
    border: 2px black;
    margin: 0 auto;
}

.soon-box {
    background-color: #E2E2E2;
    width: 45%;
    height: 800px;
    border: 2px black;
    margin: 0 auto;
}
    /*display: flex;
    flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*align-items: stretch;*/
    /*align-content: stretch;*/

.movie-posters {

}

.calendar {
    overflow: hidden;
    overflow-x: auto;
    background: white;
    margin: .5px 10px .5px 10px;
    border: .5px black;
}

  .calendar-days-wrapper {
    height: 100px;
    min-width: 200px;
    width: 100%;
    display: flex;
  }

  .calendar-day {
    height: 100%;
    background: ;
    outline: .5px solid black;
    flex: 1;
  }

.calendar-day-blank {
    height: 100%;
    background: white;
    outline: .5px solid black;
    flex: 1;
}
