body {
  font-family: "PT Sans";
}

.navbar {
   display: flex;
   flex-direction: row;
   margin-top: 0px;
}

.nav-row {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    color: white;
}

.nav-item {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    background: #FFFFFF;
}

.nav-item a:active {
    background: #968772;
}

#logo {
    background-color: #F5005B;
    padding: 10px;
    width: 75px;
    height: 75px;
}

#nav1 {
    background-color: #00A5BF;
}

#nav2 {
    background-color: #00B7D3;
}

#nav3 {
    background-color: #00D5E7;
}

#box {
   display: none;
}

h1, h2 {
	font-weight: 200;
	margin-left: 3vw;
}

.blue-boxes {
    color: white;
    background-color: #0B1942;
    font-weight: 100;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 2vw;
}

#main-info {
   margin-left: 4vw;
   width: 90vw;
}

.coming-soon {
   background-color: #0B1942;
   padding: 2vw;
}

#up-next {
   color: white;
   font-size: 35px;
	text-align: left;
   margin-left: 3vw;
}

.feature-box {
    display:flex;
    flex-flow: row wrap;
    background-color: #E2E2E2;
    width: 90vw;
    margin: auto;
    margin-bottom: 2vw;
}

#feature-poster {
   flex-shrink: 1;
   width:38vw;
   height: 55vw;
   padding: 3vw;
}

#feature-info {
   flex-grow: 2;
}

#bullet-points {
   list-style: inside circle;
}

.movie-boxes {
   flex-grow: 1;
   width:29vw;
   margin-top: 3vw;
   margin-left: 2vw;
}

.posters {
  height: 215px;
  width: 150px;
  padding: 2vw;
}

footer {
  background-color: #7DDFE8;
  color: #ffff;
}

#copywrite {
  text-align: center;
  padding: 10px;
  color: white;
}

@media(min-width: 545px) and (max-width:768px) {
   .nav-row {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .nav-item {
      flex-shrink: 20%;
      padding: 37.05px;
      align-self: center;
   }

   #box {
      display:block;
      flex-grow: 2;
      flex-basis: 55%;
      padding: 47.5px;
      background-color: #7DDFE8;
   }

   .info-here {
      display: flex;
      flex-direction: row;
      width: 100%;
   }

   .info-boxes {
      flex-grow: 1;
      margin: 1.5vw;
   }

   .movie-boxes {
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      width: initial;
   }

   .posters {
      height: 20vw;
      width: 15vw;
      padding: 2vw;
   }

   footer {
      display: flex;
      flex-direction: row;
    }
}

@media(min-width: 769px) {

  .nav-row {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    flex-shrink: 20%;
    padding: 37.05px;
    align-self: center;
  }

  #box {
    display:block;
    flex-grow: 2;
    flex-basis: 55%;
    padding: 47.5px;
    background-color: #7DDFE8;
  }

  .coming-soon {
    display: flex;
    flex-flow: row wrap;
  }

  #up-next {
    width: 100%;
  }

  .feature-box {
    width: 45vw;
    margin-top: 0vw;
  }

  .movie-boxes {
    width: initial;
    margin-left: 2vw;
  }

  #feature-poster {
    height: 30vw;
    width: 20vw;
  }

  #feature-poster-box {
    height: 40vw;
  }

  .info-here {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .info-boxes {
    flex-grow: 1;
    margin: 1.5vw;
  }

  footer {
    display: flex;
    flex-direction: row;
  }
}
